$transparentGrey:#808080;
$white:#ffffff;

.clickable:hover {
        cursor:pointer
}

.card {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.list {
        overflow-x: hidden;
        padding-bottom:10vh;
}

.player {
       position:fixed;
       opacity: 0.5;
       height:10vh;
       width:100%;
       background-color:$transparentGrey;
       justify-content: center;
       align-items: center;
       transition: 0.5s;
       box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
       bottom:0px;
}

.player-button-clickable:hover {color: $white}

.player-button-clickable:active {
  transform: translateY(4px);
}

.flex-container {
      display: flex;
}

